= form_for(@article) do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :Name
    %br/
    = f.text_field :title
  .field
    = f.label :Description
    %br/
    = f.text_area :content
  .field
    = f.label :Image
    %br/
    = f.file_field :image
  - if current_user.is_admin
    .field
      = f.label :yes,"Approved"
    %br
    .field
      = f.label :yes, "Yes"
      = f.radio_button :is_approved, true
      = f.label :no, "No"
      = f.radio_button :is_approved, false
  %br
  .actions
    = f.submit "Create Article"
    = link_to "Back", articles_path
